h3 {
  text-align: center;
}

.dx-button {
  margin-left: 40px;
}

li {
  list-style-type: none;
  height: 30px;
  line-height: 30px;
  border: 1px solid green;
  background: #dcfff1;
  padding-left: 5px;
  cursor: pointer;
}