h3 {
  text-align: center;
}

button {
  margin-left: 40px;
  padding: 8px;
  background: #26b731;
  color: #fff;
  border: 1px solid #26b731;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    background: #0a6912;
  }
}

li {
  list-style-type: none;
  height: 30px;
  line-height: 30px;
  border: 1px solid green;
  background: #dcfff1;
  padding-left: 5px;
  cursor: pointer;
}